.chatBotPage.mainSection {
  max-height: calc(100vh - 125px);
}

.chatBotPage .intro {
  height: 10vh;
  margin-left: 20px;
}

.chatBotPage .intro h1 {
  color: white;
  font-size: 1.2rem;
  margin: 0;
}
.chatBotPage .intro span {
  color: #9b9b9b;
  font-size: 0.8rem;
}

.chatBotPage .chattingArea {
  max-height: calc(100vh - 300px);
  margin: 0 20px;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.chatBotPage .chatUser {
  height: 5vh;
  width: 100%;
  margin: 0 0;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

/* .chatBotPage .chatUser button {
  width: 40%;
  outline: none;
  border: none;
  background-color: #0f1014;
  border-radius: 20px;
  height: 25px;
  display: inline-block;
  border-radius: 10px;
  line-height: 25px;
  padding: 5px 25px;
  border: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  outline: none;
  box-shadow: -3px -3px 10px #fc48205e, 2px 2px 10px #fc48205e;
  background-image: linear-gradient(45deg, #fc4820, #ef6848);
} */

.chatBotPage .chatUser button {
  display: inline-block;
  width: 45%;
  border-radius: 50px;
  position: relative;
  z-index: 2;
  outline: none;
  border: none;
  will-change: transform, filter;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
  box-shadow: -3px -3px 10px #fc48205e, 7px 7px 10px rgba(24, 24, 24, 0.438);
  background-image: linear-gradient(45deg, #ff3a0ee5, #ee5330);
}

.chatBotPage .chatUser button.yesBtn {
  box-shadow: -5px -5px 10px #0b2c00d0, 7px 7px 10px rgba(24, 24, 24, 0.514);
  background-image: linear-gradient(45deg, #259e00, #3bb43b);
}

.chatBotPage .chatUser.disable button {
  box-shadow: -3px -3px 10px #1d1d1d5e, 7px 7px 10px rgba(24, 24, 24, 0.438);
  background-image: linear-gradient(45deg, #0f1014, #0f1014);
}

.chatBotPage .chatUser.disable button p {
  color: rgb(129, 129, 129);
}

.chatBotPage .chatUser button p {
  margin: 0;
  color: white;
}

.chatBotPage .chatUser button p:nth-child(1) {
  font-weight: 700;
  font-size: 1rem;
}

.chatBotPage .chatUser button p:nth-child(2) {
  font-weight: 400;
  font-size: 0.7rem;
}

/* .chatBotPage .chatUser input {
  width: 82%;
  height: 2.5rem;
  line-height: 1.7rem;
  padding: 5px;
  padding-left: 15px;
  border-radius: 20px;
  border: 2px solid #3a3a3a;
  background-color: transparent;
  color: white;
  outline: none;
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.5),
    5px 5px 15px rgba(82, 82, 82, 0.12), inset -5px -5px 15px rgba(0, 0, 0, 0.5),
    inset 5px 5px 15px rgba(92, 92, 92, 0.12);
}

.chatBotPage .chatUser .send {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: -3px -3px 10px #fc48205e, 2px 2px 10px #fc48205e;
  background-image: linear-gradient(45deg, #fc4820, #ef6848);
}

.chatBotPage .chatUser .send img {
  width: 60%;
  padding: 38% 23%;
} */

.chatBotPage .chattingArea .chat {
  background-color: #0f1014;
  padding: 15px 20px;
  color: white;
  margin-left: 15px;
  width: 70%;
  border-radius: 10px 10px 10px 0;
  box-shadow: -5px -5px 10px rgba(17, 17, 22, 0.712),
    5px 5px 5px rgba(24, 24, 24, 0.12);
}

.chatBotPage .chattingArea .chat::before {
  content: "Bot Name";
  font-size: smaller;
  margin-bottom: 10px;
  color: #ef6848;
}

.chatBotPage .chattingArea .chat p {
  margin: 0;
  padding-top: 7px;
  margin-top: 5px;
  position: relative;
}

.chatBotPage .chattingArea .chat p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: white;
}

.chatBotPage .chattingArea .chat.user_chat {
  border-radius: 10px 10px 0 10px;
  position: relative;
  right: -40px;
  margin-right: 15px;
  padding: 15px 20px;
}

.chatBotPage .chattingArea .chat.accepted {
  box-shadow: -5px -5px 10px #0b2c00d0, 7px 7px 10px rgba(24, 24, 24, 0.514);
  background-image: linear-gradient(45deg, #259e00, #3bb43b);
}

.chatBotPage .chattingArea .chat.rejected {
  box-shadow: -3px -3px 10px #fc48205e, 7px 7px 10px rgba(24, 24, 24, 0.438);
  background-image: linear-gradient(45deg, #ff3a0ee5, #ee5330);
}

.chatBotPage .chattingArea .chat.rejected::before,
.chatBotPage .chattingArea .chat.accepted::before {
  color: #ffffff;
}

.chatBotPage .chattingArea .chat.user_chat::before {
  content: attr(data-attr);
}

.chatBotPage .chattingArea .chat .chooseLink {
  display: block;
  margin: 15px 0;
  padding: 15px 0 10px;
  border-top: 2px solid rgb(107, 107, 107);
  border-bottom: 2px solid rgb(107, 107, 107);
}

.chatBotPage .chattingArea .chat .chooseLink a {
  display: block;
  width: 100px;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--orange);
  border-radius: 50px;
  background-color: #2b2b2b;
  box-shadow: -3px -3px 10px #0707075e, 7px 7px 10px rgba(0, 0, 0, 0.438);
  padding: 5px 15px;
  margin-right: 5px;
}
