@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

root {
  --orange: #ef6848;
  --black: #181818;
  --darkGray: #313131;
  --white: #ffffff;
  --lightOrange: #ff9c51;
  --yellowOrange: #ffb650;
}

/* body {
    display: none;
} */

@media only screen and (max-width: 500px) {
  /* body {
    display: block;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--black);
    font-family: "Raleway", sans-serif;
    } */

  /* Heading */
  .explorePage .explore {
    color: white;
    margin-left: 2em;
    text-align: center;
    font-family: "Raleway", sans-serif;
    letter-spacing: 5px;
    border-bottom: 2px solid #ef6848;
    width: 9em;
  }

  /* Cusines  */
  .explorePage .cusines {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0.3em;
    grid-row-gap: 0.5em;
    margin: 1em;
  }

  .explorePage .cusines .cusinecover {
    border-radius: 20px;
    padding: 5px;
  }

  .explorePage .cusines .label {
    letter-spacing: 1px;
  }

  .explorePage .heading h2 {
    margin-bottom: 5px;
  }

  .cusines .label h4 {
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 14px;
  }

  .cusines .cuisine1 {
    position: relative;
    padding: 5px;
    overflow: hidden;
  }

  .cusines .cuisine1 .photo {
    width: 175px;
    height: 175px;
    overflow: hidden;
  }

  .cusines .cuisine1 .label {
    position: absolute;
    top: 121px;
    background-color: black;
    opacity: 0.7;
    height: 30%;
    color: white;
    width: 100%;
    border-radius: 13px;
    left: 5px;
    font-family: "Raleway", sans-serif;
  }
}
